:host {
    display: none;
    font-size: medium;;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 200;
}

svg {
    width: 70px;
    transform: rotate(-90deg); 
}

#fraction {
    display: none;
}

svg:hover > #fraction {
    display: block;
}

svg:hover > #percent {
    display: none;
}

#ring {
    stroke-dasharray: 100;
    transition: stroke-dashoffset 1s linear;
}