:host {
    font-size: large;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    justify-items: center;
    gap: 60px;
    margin: 50px 0;
}

section {
    background-color: rgba(255, 255, 255, 70%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

section h2 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 2em;
}

section button {
    background-image: linear-gradient(#88E493, #00AC00);
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out;
    font-size: 1.5em;
    opacity: 0.7;
    margin: 10px;
    border: 1px solid currentColor;
}

section button:hover {
    opacity: 0.9;
    cursor: pointer;
}

section span {
    font-size: 8em;
}

section ul {
    text-align: left;
    list-style-type: "✅";
    padding-bottom: 20px;
}

section ::slotted(li) {
    margin: 20px;
    margin-left: 0;
    padding-left: 10px;
}

header, footer {
    grid-column: 1 / span 3;
    text-align: center;
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

header ::slotted(a) {
    text-decoration: none;
}

footer a {
    color: currentColor;
}

@media (max-width: 480px) {
    :host {
        margin: 0 30px;
    }

    main {
        grid-template: repeat(5, auto) / 1fr;
    }

    header, footer {
        grid-column: 1 / span 1;
    }

    h1 {
        font-size: 1.5em;
    }
}