:host {
    display: none;
    font-size: medium;
    position: relative;
}

slot {
    color: var(--theme-color-1);
}

footer {
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 0 20px 50px;
    font-style: italic;
}

a {
  color: currentColor;
}

img {
  height: 80px;
}

/*======*/

svg {
  position: absolute;
  z-index: -100;
  width: 100%;
}

@media (max-width: 480px) {
  svg {
    height: 100%;
  }
}

#background-illustration #Msg {
  animation: floating 3s infinite alternate;
}
#background-illustration #BtnLeft {
  animation: floating 3s 1s infinite alternate;
}
#background-illustration #BtnRight {
  animation: floating 3s 2s infinite backwards alternate;
}
#background-illustration #Plus {
  animation: blipping 3s infinite alternate;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes blipping {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}