:host {
    display: none;
    font-size: medium;
}

section, aside, table {
    display: none;
}

section {
    flex-direction: column;
    align-items: center;
}

aside {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 50%;
}

a {
    text-decoration: none;
    color: currentColor;
}

table {
    color: currentColor;
    font-size: 0.3em;
    overflow-x: scroll;
    flex: 1;
}