:host {
    display: none;
    font-size: medium;
}

section, aside, a, table {
    display: none;
}

img {
    border-radius: 50%;
    width: 50%;
}

a {
    text-decoration: none;
    color: currentColor;
}

table {
    color: currentColor;
    width: 100%;
}