:host {
    display: none;
    font-size: medium;
}

section, aside, table {
    display: none;
}

section:last-child {
    flex-direction: column;
    align-items: center;
}

aside {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

a#avatar {
    flex: 1;
}

div {
    flex: 2;
}

a {
    color: currentColor;
}

aside a {
    text-decoration: none;
}

img {
    border-radius: 50%;
    width: 100%;
}

h1 {
    font-size: 3em;
}

h2 span {
    color: orange;
}

tfoot th:last-child {
    color: orange;
}

@media (max-width: 480px), (max-height: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }
}