:host {
    display: none;
    font-size: medium;;
    position: fixed;
    bottom: 50px;
    left: 50px;
}

svg {
    transform: rotate(-90deg);
    width: 70px;
    height: 70px;
}

.percent {
    stroke-dasharray: 100;
    stroke-dashoffset: 90;
    transition: stroke-dashoffset 1s linear;
}