:host {
    display: none;
    font-size: medium;
}

section {
    display: none;
    flex-direction: column;
    align-items: center;
}

a {
    color: currentColor;
}

table:last-child {
    margin-top: 50px;
}

@media (max-width: 480px), (max-height: 480px) {
    table:last-child {
        margin-top: 30px;
    }
}