:host {
    display: none;
    padding: 40px;
    min-height: 90vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 480px) {
    main {
        grid-template-columns: 1fr;
    }
}